<h1>Welcome#hello</h1>
<p >Find me in app/views/welcome/hello.html.erb</p>
<p class="variable panel">Hello everyone <%= @welcome %></p>
<a href="/welcome/index" class="btn btn-primary btn-lg">Index page</a>